

.btnn {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;

}

.center_div{
  margin: 0 auto;
  width:30% ;/* value of your choice which suits your alignment */
  /*border: 1px solid rgb(6, 238, 226);*/
  margin: 30px auto;
  padding: 30px;
  height: auto;

}

.add-form {
  margin-bottom: 40px;
}


